/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

/* Influencer-parts */

.Influencer {
    display: flex;
}

.Influencer-heading {
    font-size: 30px;
}

.Influencer-deitals {
    margin-top: 35px;
}

.Influencer-img img {
    width: 440px;
    height: 414px;
    margin-left: 30px;
}

.button a {
    text-decoration: none;
    margin-left: 20px;
    color: white;


}

.button {
    background-color: #E02C6D;
    width: 200px;
    border-radius: 5px;


}

/* Popular-Collection parts */
.popular-collection {
    width: 230px;
    height: 386px;
    background-color: #FFFFFF;
    padding-top: 20px;
    box-shadow: 3px 4px 4px 4px #5E6366;
    border-radius: 10px;
    padding-left: 25px;


}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    scroll-margin-right: 50px;


}

.Popular-parts img {
    width: 200px;
    height: 156px;
}

.popular-heading {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}



.icon i {
    color: orange;

}

.icon span {
    padding-left: 20px;
}

.anchor a {
    text-decoration: none;
    color: #E02C6D;
    width: 75px;
    height: 24px;

}

.anchor {
    text-align: right;

    padding-top: 40px;
    padding-right: 40px;
}

/* bunos parts */
.bonus-parts-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-mission img {
    width: 350px;
    height: 300px;
}

.my-mission-details {
    margin-left: 100px;

}

.my-details-button a {
    text-decoration: none;
    color: white;
}

.my-details-button {
    width: 90px;
    background-color: #E02C6D;
    padding-left: 20px;
    border-radius: 5px;
}

/* footer parts */
.footer-parts {}

.footer {

    color: white;
    text-align: center;
    background-color: #0A0826;
    padding-top: 30px;


}

.footer-icon {
    padding-right: 5px;
}

/* responsive design */
/* mobile */
@media only screen and (max-width:688px) {

    .Influencer {
        width: 100px;
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }

    .Influencer-img img {
        margin-right: 3px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .bonus-parts-container {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }




}