/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Influencer-parts */
.Influencer {
    display: flex;
}

.Influencer-heading {
    font-size: 30px;
}

.Influencer-deitals {
    margin-top: 35px;
}

.Influencer-img img {

    height: 314px;
    margin-left: 30px;
}