/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Influencer-parts */
.Influencer {
    display: flex;
}

.Influencer-heading {
    font-size: 30px;
}

.Influencer-deitals {
    margin-top: 35px;
}

.Influencer-img img {

    height: 314px;
    margin-left: 30px;
}

/* Popular-Collection parts */
.popular-heading {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.popular-collection {
    width: 330px;
    height: 476px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 4px 4px 4px 4px #5E6366;
    border-radius: 10px;

}